/* * {
    border: 1px solid red; 
}   */

/* HEADER */


.headerEstilo {
    padding-bottom: 20px;
    height: 150px;
    background-color: #B7A99C;
    font-size: 20px;
}

.navColor {
    background-color: #B7A99C;
    padding-bottom: 20px;
    margin: 0;
    z-index: 3;
}

.navEstilo {
    color: #655d55;
}

.navEstilo:hover {
    border: 2px solid #655d55;
}

.logo {
    height: 65px;
}


.menu {
    display: flex;
    gap: 10px;
}
/* .navSearch {
    color: red
} */

.btnStyle {
    background-color: gray;
    color: #fafafa;
}

.btnStyle:hover {
    background-color: #655d55;
    color: #eeeae7;
}



/* MAIN */
body.container-fluid {
    background-color: #eeeae7;
    margin: 0px;
    padding: 0px;
}


.display-1 {
    padding-bottom: 20px;
    margin: 0% 10%; 

    display: flex;
    justify-content: space-around;

}

h1 {
    font-size: 80px;
    color: #655d55;
}


.flexContainer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    flex-direction: row;
}


.caja {
    color: black;
    font-weight: bold;
    font-size: 25px;

    height: 600px;
    width: 500px;

    text-align: center;
    line-height: 600px;
    margin: 5px;
}

.caja:hover {
    border: 4px solid #655d55;
}

.caja1 {
    background-image: url(../img/knit.jpg);
    background-size: cover;
}

.caja2 {
    background-image: url(../img/hanger.jpg);
    background-size: cover;
}

a {
    text-decoration: none;
    color: #655d55;
}

@media only screen and (max-width: 768px) {
    .h1 {
      flex-direction: column;
    }
  }

@media only screen and (max-width: 992px) {
    .container-fluid {
      flex-direction: column;
    }
  }


  .enlaces {
    font-weight: bold;
    text-decoration: none;
  }

  .enlaces:hover {
    background-color: yellow;
  }


  .mapa {
    height: 300px;
    width: 500px;
  }

  .formEspacio {
    margin-bottom: 15px;
  }

/* PRODUCTOS */

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.marginCard {
    margin-bottom: 15px;
}

.btnEstilo {
    color: #fafafa;
    background-color: #655d55;
}

.btnEstilo:hover {
    color: #fafafa;
    background-color: #36322d;
}



/* FOOTER */

footer {
    background-color: #B7A99C;
    color: #655d55;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
}

footer a {
    color: #655d55;
    text-decoration: none;
}

footer a:hover {
    color: #36322d;
}

footer .container {
    max-width: 1200px;
    margin: 0px auto;
}

.footer-main {
    display: flex;
    margin-bottom: 15px;
}

.footer-column {
    flex-basis: 200px;
    flex-grow: 1;
    text-align: center;
}

.footer-heading {
    margin-bottom: 10px;
}

.footer-link {
    display: block;
    width: max-content;
    padding: 5px 10px;
    margin: 0 auto;
}

.social {
    height: 25px;
}

.footer-bottom {
    display: flex;
}

.copyright {
    margin-right: auto;
}


@media only screen and (max-width: 768px) {
    .footer-main {
        flex-direction: column;
    }
}