@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,900&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    color: #655d55;
}

.display-1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-style: italic;
    padding-bottom: 20px;
    margin: 0% 10%;
    display: flex;
    justify-content: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: #655d55;
}

h2 {
    margin-top: 15px;
    font-weight: 300;
}

.enlaces {
    font-weight: bold;
    text-decoration: none;

    &:hover {
        background-color: yellow;
    }
}